body {
    background: black;
    color: ghostwhite;
    font-family: monospace;
}

div.centre {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

img.top {
    vertical-align: middle;
}

.applicationHeader {
    padding-top: 25px;
    font-size: 20px;
}

.searchBox {
    width: 280px;
    height: 25px;
}

.movieWrapper {
    height: 380px;
    float: left;
    padding-left: 5px;
}

.floatLeft{
    float: left;
}

.overflow {
    overflow: auto;
}

.borderBottom {
    border-bottom: 1px solid lightcyan
}

.pointer {
    cursor: pointer;
}

.youTubeMovie:hover{
    background: darkgray;
}
